*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
html, body {
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

body{
    background-color: #FAF2DF;
    transition: background-color 1s;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8qpx 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: padding 1s ease;
}

header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #8b4513;
    opacity: 0;
    transition: opacity 0.6s ease;
    z-index: -1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2)
}
header.visible{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
header.visible::before{
    opacity: 1;
}

.logo{
    user-select: none;
    transition: filter 2s ease;
}
.logo2{
    user-select: none;
    transition: filter 2s ease;
    position: relative;
    right: 380px;
    top: 12px;
}
header.visible .logo img{
    filter: grayscale(0%) brightness(0) invert(0);
}
header.visible .logo img.change-logo{
    filter: grayscale(0%) brightness(100%) invert(1);
}
header.visible .logo2 img{
    filter: grayscale(0%) brightness(0) invert(0);
}
header.visible .logo2 img.change-logo{
    filter: grayscale(0%) brightness(100%) invert(1);
}
.navigation {
    position: relative;
    right: 40px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  }
.banner a{
    position: absolute;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-top: 20px;
}
.banner a:after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background: white;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s;
}
.banner a:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}
.navigation a.visible {
    color: #4e2a00;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
header.visible .navigation a::after{
    background: #4e2a00;
}

.navigation a:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}


.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
header.visible .btnLogin-popup{
    border: 2px solid #4e2a00;
    color: #4e2a00;
}
header.visible .btnLogin-popup:hover{
    background: #4e2a00;
    color: #ffe4c4;
}

.navigation .btnLogin-popup:hover{
    background: #ffffff;
    color: #000000;
}

header.visible .navlink,
header.visible .btnLogin-popup{
    color: #4e2a00;
}



.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content{
    width: 100%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    text-align: left;
    color: #4e2a00;
    margin-left: 220px;
}

.content h1{
    color: #f4a460;
    font-size: 6.3rem;
    margin-top: 80px;
}

.content p{
    margin-right: 700px;
    font-weight: 100;
    line-height: 25px;
    color: #FAF2DF;
}
.products-container{
    width: 100%;
    background-color: black;
    color: white;
    transition: background-color 1s, color 1s;
    padding-top: 250px;
    text-align: center;
    font-size: 2rem;
}
.products-container.visible{
    background-color: #FAF2DF;
    color: #301807;
}
.products-container p{
    margin-left: 10rem;
    margin-right: 10rem;
    color:#ffffff;
    font-size: 19px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    transition: transform 0.6s ease, color 4s;
}
.products-container p.visible{
    color:#000000;
}
.products{
    width: 80%;
    margin: auto;
    
}


.products h2{
    color: #bb6528;
    font-size: 36px;
    font-weight: 600;
}


[data-animate]{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
[data-animate].visible{
    opacity: 1;
    transform: translateY(0);
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-col-1{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.product-col-1 img{
    width: 100%;
    display: block;
}

.layer-1{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer-1:hover{
    background: #ede0d4;
}

.layer-1 h3{
    width: 100%;
    font-weight: 500;
    color: #4e2a00;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer-1:hover h3{
    bottom: 49%;
    opacity: 1;
}

.product-col-2{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.product-col-2 img{
    width: 100%;
    display: block;
}

.layer-2{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer-2:hover{
    background: #e6ccb2;
}

.layer-2 h3{
    width: 100%;
    font-weight: 500;
    color: #321414;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer-2:hover h3{
    bottom: 49%;
    opacity: 1;
}

.product-col-3{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.product-col-3 img{
    width: 100%;
    display: block;
}

.layer-3{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer-3:hover{
    background: #ddb892;
}

.layer-3 h3{
    width: 100%;
    font-weight: 500;
    color: #321414;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer-3:hover h3{
    bottom: 49%;
    opacity: 1;
}
.product-col-4{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.product-col-4 img{
    width: 100%;
    display: block;
}

.layer-4{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer-4:hover{
    background: #b08968;
}

.layer-4 h3{
    width: 100%;
    font-weight: 500;
    color: #ffefd5;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer-4:hover h3{
    bottom: 49%;
    opacity: 1;
}
.product-col-5{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.product-col-5 img{
    width: 100%;
    display: block;
}

.layer-5{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer-5:hover{
    background: #7f5539;
}

.layer-5 h3{
    width: 100%;
    font-weight: 500;
    color: #ffefd5;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer-5:hover h3{
    bottom: 49%;
    opacity: 1;
}
.product-col-6{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.product-col-6 img{
    width: 100%;
    display: block;
}

.layer-6{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer-6:hover{
    background: #9c6644;
}

.layer-6 h3{
    width: 100%;
    font-weight: 500;
    color: #ffefd5;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer-6:hover h3{
    bottom: 49%;
    opacity: 1;
}

.cta{
    margin: 550px auto;
    width: 100%;
    height: 100%;
    background-image: url(../images/cta-bg.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #4e2a00;
    margin-bottom: 40px;
    padding: 0;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #311813;
    border: 2px solid #311813;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #ffe4c4;
    background: #311813;
    color: #ffe4c4;
    transition: 1s;
}

/* .footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    color: #E53F00;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.footer p{
    color:#4e2a00;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
} */

video{
    box-shadow: 0 0 20px rgba(0, 0, 0, 1); 
}



/* wrapper */

.wrapper{
    position: fixed;
    top: 10%;
    left: 35%;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(104, 62, 0, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(104, 62, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease,height .2s ease;
    z-index: 200;
}
.user-info {
    color: #ffefd5;
    font-size: 1.5rem;
    display: none;
    text-align: left;
}
.wrapper.logged-in .user-info {
    display: block;
}


.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active{
    height: 520px;
}

.wrapper .form-box.login{
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login{
    transition: transform .18 ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-500px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateY(500px);
}

.wrapper.active .form-box.register{
    transition: transform .18 ease;
    transform: translateX(0);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #ffefd5;
    font-size: 2em;
    color: #321414;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color: #ffefd5;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #321414;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #ffefd5;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}



.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #ffe4c4;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #ffe4c4;
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    color: #ffe4c4;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #ffe4c4;
    margin-right: 3px;
}

.remember-forgot a{
    color: #ffe4c4;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #ffe4c4;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #321414;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: #ffe4c4;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #321414;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    color: #ffe4c4;
    text-decoration: underline;
}









/* aboutPage */

:root{
    --main-color: #321414;
    --gray: #252525;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);

}
.about {
    padding-top: 190px;
    padding-bottom: 250px;
}
/* [dark].visible{
    background-color: rgb(0, 0, 0);
} */
body.visible{
    background-color: rgb(0, 0, 0);
}
.about .rowP{
    display: flex; flex-wrap: wrap;
    align-items: center;
    background: var(--gray);
    margin: 2rem;
}

.about .rowP .image{
    flex: 5 5 45rem;
}

.about .rowP .image img{
    width: 100%;
    padding-left: 2rem;
}

.about .rowP .contentP{
    flex: 1 1 45rem;
    padding: 5rem;
}

.about .rowP .contentP h3{
    font-size: 3rem;
    color: #fff;
    transition: color 1s;
}

.about .rowP .contentP p{
    font-size: .9rem;
    color: var(--gray);
    padding: 1rem 0;
    line-height: 1.8;
    text-transform: none;
    transition: color 1s;
}
body.visible .about .rowP .contentP h3{
    color: #fff;
}
body.visible .about .rowP .contentP p{
    color: #fff;
}


.heading{
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    font-size: 3.5rem;
    transition: color 1s;
    position: relative;
    top: 30px;
    transition: font-size 1s;
}
body.visible .heading{
    font-size: 4rem;
}

.heading span{
    color: #f4a460;
    text-transform: uppercase;
    transition: color 1s;
}

body.visible .heading{
    color: #fff;
}
body.visible .heading span{
    color: #fff;
    color: var(--main-color);
}

.btnP{
    text-decoration: none;
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
    transition: .2s linear;
}

.btnP:hover{
    letter-spacing: .2rem;
}



/* footer */
.footerr{
    background: var(--gray);
    text-align: center;
}

.footerr .share{
    padding: .1rem 0;
    padding-top: 40px;
}

.footerr .share a{
    height: 3.4rem;
    width: 3.4rem;
    line-height: 3.4rem;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    border: var(--border);
    margin: 0;
    border-radius: 50%;
}

.footerr .share a:hover{
    background-color: var(--main-color);
}

.footerr .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem 0;
    gap: 0.6rem;
    
}

.footerr .links a{
    text-decoration: none;
    padding: .7rem 1rem;
    color: #fff;
    border: var(--border);
    font-size: 1rem;
}

.footerr .links a:hover{
    background: var(--main-color);
}

.footerr .credit{
    font-size: 1rem;
    color: #fff;
    font-weight: lighter;
    padding: .5rem;
}

.footerr .credit span{
    color: #f4a460;
}






/* logged in  */

/* Initially hide the logged-in button and show the login button */
.btnLogged {
    display: none;
    width: 130px;
    height: 50px;
    background: #fefffc26;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

/* Show the logged-in button after login */
.header.logged-in .btnLogged {
    display: inline-block;
}

/* Hide the login button after login */
.header.logged-in .btnLogin-popup {
    display: none;
}

header.visible .btnLogged{
    border: 2px solid #4e2a00;
    color: #4e2a00;
}
header.visible .btnLogged:hover{
    background: #4e2a00;
    color: #321414;
}

.navigation .btnLogged:hover{
    background: #ffffff;
    color: #000000;
}



/* Initially hide the user info and form when logged in */
.wrapper.logged-in .form-box.login,
.wrapper.logged-in .form-box.register {
    display: none;
}

.user-info {
    display: none;
}
.user-info button{
    top: 159px;
    position: relative;
    width: 90px;
    height: 30px;
    background: #fefffc26;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: .9rem;
    color: #ffffff;
    font-weight: 500;
    margin-left: -10px;
    transition: .5s;
}

/* When logged in, make the user-info visible */
.wrapper.logged-in .user-info {
    display: block;
}

/* Optionally hide the login and register links */
.wrapper.logged-in .login-link, 
.wrapper.logged-in .register-link {
    display: none;
}

