*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #FCFD98;
    justify-content: center;
    align-items: center;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8qpx 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: padding 1s ease;
}

header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fdca3e;
    opacity: 0;
    transition: opacity 0.6s ease;
    z-index: -1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: rgba(253, 202, 62, 0.1); 
    backdrop-filter: blur(10px); 
}
body.scrolled header{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
body.scrolled header::before{
    opacity: 1;
}

.logo{
    user-select: none;
    filter: grayscale(0%) brightness(0) invert(0);
}
.logo2{
    user-select: none;
    transition: filter 2s ease;
    position: relative;
    right: 380px;
    top: 12px;
    filter: grayscale(0%) brightness(0) invert(0);
}
.navigation {
    position: relative;
    right: 40px;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #4e2a00;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #4e2a00;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #4e2a00;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #4e2a00;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover{
    background: #4e2a00;
    color: #fdca3e;
}

.content{
    align-items: center;
    margin-left: 20%;
    margin-right: auto;
}

.cart{
    display: flex;
    background-color: #FDB725;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    margin-left: 150px;
    width: 80px;
}
#cartItem{
    margin-top: 2rem;
}

.fa-solid{
    color: #FCFD98;
}

.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: #FCFD98;
    color: #FDB725;
}

.container{
    display: flex;
    width: 70%;
    margin-top: 200px;
    margin-bottom: 30px;
}

#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #FDF28C;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}

.head{
    background-color: #FDB725;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: #4e2a00;
    display: flex;
    align-items: center;
}

.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #F4C165;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #F4C165;
    border-radius: 5px;
    padding: 15px;
}

.img-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}

.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

h2{
    font-size: 20px;
    color: rgb(255, 56, 56);
}

button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #F4C165;
    padding: 7px 25px;
    cursor: pointer;
    color: #4e2a00;
}

button:hover{
    background-color: #F4DD87;
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #F4CB73;
    border-bottom: 1px solid #F4C165;
    border-radius: 3px;
    margin: 10 10px;
}

.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #FCFD98;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}

.fa-trash:hover{
    cursor: pointer;
    color: #E35E54;
}






/* wrapper */

.wrapper{
    position: fixed;
    top: 10%;
    left: 35%;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(104, 62, 0, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(104, 62, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease,height .2s ease;
    z-index: 200;
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active{
    height: 520px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login{
    transition: transform .18 ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-500px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateY(500px);
}

.wrapper.active .form-box.register{
    transition: transform .18 ease;
    transform: translateX(0);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #fdca3e;
    font-size: 2em;
    color: #4e2a00;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color: #FFD52D;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #4e2a00;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #FFD52D;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #FADA5E;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #FADA5E;
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    color: #FFD52D;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #4e2a00;
    margin-right: 3px;
}

.remember-forgot a{
    color: #FFD52D;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #fdca3e;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #4e2a00;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: #FFD52D;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #FFD52D;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}










:root{
    --main-color: #d3ad7f;
    --gray: #252525;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}



/* footer */
.footerr{
    background: var(--gray);
    text-align: center;
}

.footerr .share{
    padding: .1rem 0;
    padding-top: 40px;
}

.footerr .share a{
    height: 3.4rem;
    width: 3.4rem;
    line-height: 3.4rem;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    border: var(--border);
    margin: 0;
    border-radius: 50%;
}

.footerr .share a:hover{
    background-color: var(--main-color);
}

.footerr .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem 0;
    gap: 0.6rem;
    
}

.footerr .links a{
    text-decoration: none;
    padding: .7rem 1rem;
    color: #fff;
    border: var(--border);
    font-size: 1rem;
}

.footerr .links a:hover{
    background: var(--main-color);
}

.footerr .credit{
    font-size: 1rem;
    color: #fff;
    font-weight: lighter;
    padding: .5rem;
}

.footerr .credit span{
    color: var(--main-color);
}







/* logged in  */

/* Initially hide the logged-in button and show the login button */
.btnLogged {
    display: none;
    width: 130px;
    height: 50px;
    background: #fefffc26;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

/* Show the logged-in button after login */
.header.logged-in .btnLogged {
    display: inline-block;
}

/* Hide the login button after login */
.header.logged-in .btnLogin-popup {
    display: none;
}

header.visible .btnLogged{
    border: 2px solid #4e2a00;
    color: #4e2a00;
}
header.visible .btnLogged:hover{
    background: #4e2a00;
    color: #fdca3e;
}

.navigation .btnLogged:hover{
    background: #ffffff;
    color: #000000;
}



/* Initially hide the user info and form when logged in */
.wrapper.logged-in .form-box.login,
.wrapper.logged-in .form-box.register {
    display: none;
}

.user-info {
    display: none;
}
.user-info button{
    top: 159px;
    position: relative;
    width: 90px;
    height: 30px;
    background: #fefffc26;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: .9rem;
    color: #ffffff;
    font-weight: 500;
    margin-left: -10px;
    transition: .5s;
}

/* When logged in, make the user-info visible */
.wrapper.logged-in .user-info {
    display: block;
}

/* Optionally hide the login and register links */
.wrapper.logged-in .login-link, 
.wrapper.logged-in .register-link {
    display: none;
}