*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #FCFD98;
    justify-content: center;
    align-items: center;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8qpx 100px;
    background: #fdca3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    user-select: none;
}
.navigation {
    position: relative;
    right: 40px;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #4e2a00;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #4e2a00;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #4e2a00;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #4e2a00;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover{
    background: #4e2a00;
    color: #fdca3e;
}

.content{
    align-items: center;
    margin-left: 20%;
    margin-right: auto;
}

.cart{
    display: flex;
    background-color: #FDB725;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    margin-left: 150px;
    width: 80px;
}

.fa-solid{
    color: #FCFD98;
}

.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: #FCFD98;
    color: #FDB725;
}

.container{
    display: flex;
    width: 70%;
    margin-top: 200px;
    margin-bottom: 30px;
}

#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #FDF28C;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}

.head{
    background-color: #FDB725;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: #4e2a00;
    display: flex;
    align-items: center;
}

.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #F4C165;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #F4C165;
    border-radius: 5px;
    padding: 15px;
}

.img-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}

.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

h2{
    font-size: 20px;
    color: rgb(255, 56, 56);
}

button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #F4C165;
    padding: 7px 25px;
    cursor: pointer;
    color: #4e2a00;
}

button:hover{
    background-color: #F4DD87;
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #F4CB73;
    border-bottom: 1px solid #F4C165;
    border-radius: 3px;
    margin: 10px 10px;
}

.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #FCFD98;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}

.fa-trash:hover{
    cursor: pointer;
    color: #E35E54;
}